<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools"
		  package="jp.redmine.redmineclient"
	android:installLocation="auto" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />



    <application
        android:icon="@mipmap/ic_launcher"
        android:label="Next Level: Strategy Accelerator"
        android:allowBackup="true"
		android:fullBackupContent="true"
		android:allowClearUserData="true"
        android:installLocation="auto"
		android:usesCleartextTraffic="true"
        android:description="@string/app_description"
        android:restoreNeedsApplication="true">
        <activity android:name="jp.redmine.redmineclient.activity.SplashActivity"
        	  

            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="jp.redmine.redmineclient.activity.CommonPreferenceActivity"
		  android:label="@string/menu_settings"
		  android:exported="false"
		  >
		  	<intent-filter>
				<action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
        </activity>
        <activity android:name="jp.redmine.redmineclient.activity.ConnectionListActivity"

                  
			/>
	    <activity android:name="jp.redmine.redmineclient.activity.ConnectionActivity"
                      
			/>
		<activity android:name="jp.redmine.redmineclient.activity.ConnectionEditActivity"
                	  
			/>
	    <activity android:name="jp.redmine.redmineclient.activity.ProjectActivity"
        	      
			/>
	    <activity android:name="jp.redmine.redmineclient.activity.IssueActivity"
                      
			/>
	    <activity android:name="jp.redmine.redmineclient.activity.IssueFilterActivity"
	              
			/>
		<activity android:name="jp.redmine.redmineclient.activity.WikiViewActivity"
                          
			/>
        <activity android:name="jp.redmine.redmineclient.activity.ConnectionNaviActivity"
		  
			/>
        <activity android:name="jp.redmine.redmineclient.activity.FilterViewActivity"
        	  
			/>
		<activity android:name="jp.redmine.redmineclient.activity.AttachmentActivity"
				  
			/>
		<activity android:name="jp.redmine.redmineclient.activity.TimeEntryActivity"
				  
			/>
		<activity android:name="jp.redmine.redmineclient.activity.KanbanActivity"
				  
			/>
		<activity android:name="jp.redmine.redmineclient.activity.AboutActivity"
				  
			/>
		<activity android:name="jp.redmine.redmineclient.activity.WebViewActivity"

				   />
		<provider
			android:name="jp.redmine.redmineclient.provider.Attachment"
			android:authorities="jp.redmine.redmineclient.attachment"
			tools:ignore="ExportedContentProvider"
			/>
    </application>

</manifest>
